<div>
    
      <h3>Reactive form example with 'updateOn'</h3> <br>
      <div class="row col-xs-6">
        <button  type="button" class="btn btn-primary" (click)="displayCodeBlock()">
          {{buttonText}} code
        </button>
      </div> <br> <br>
      <div *ngIf="showCodeSnippet" class="row" style="margin-left:1px">
        <pre style="width:80%"  [innerHTML] = "showcode('change')"></pre> 
      </div>
       <br>
<form [formGroup]="mainForm" novalidate>
  <div class="form-group">
    <label for="firstname">Enter your first name</label>
    <input  type="text" class="form-control" formControlName = "firstname" />
  </div>
  <div class="form-group">
      <label for="lastname">Enter your last name</label>
      <input  type="text" class="form-control" formControlName = "lastname" />
  </div>
  <button type="submit" class="btn btn-success">
    Submit
  </button>
</form>
<div *ngIf="mainForm.value.firstname && mainForm.value.lastname" class="panel col-md-offset-4">
    <label for="output"><strong>Result:</strong></label>
    <pre>Hello {{mainForm.value.firstname}},{{mainForm.value.lastname}}</pre>
</div>
</div>